#!/usr/bin/env bash

export AWS_ACCESS_KEY_ID='...'
export AWS_SECRET_ACCESS_KEY='...'
export AWS_INSTANCE_TYPE='t2.nano'
export AWS_ROOT_SIZE='12'
export AWS_DEFAULT_REGION='us-east-1'

export MODE='PRODUCTION'
export APP_UPDATE_TOKEN='...'

eval $(docker-machine env helpmanual)
