[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/helpmanual.io.search/
ExecStart=env/bin/gunicorn -b unix:/tmp/gunicorn.sock -k aiohttp.worker.GunicornWebWorker -t 60 conf.app:app

[Install]
WantedBy=multi-user.target
